@charset "utf-8";
/*
	MillionCMS Project
    
    Name: Global Admin CSS
    Description: Makes the ACP nice by including all the CSS we need...
    Author: Damian Sharpe

    Copyright � 2010 Damian and the MillionCMS Group
        All Rights Reserved

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/


/* General CSS File (Includes most classes that define UI) */
@import url("general.css");

/* Menu CSS File's (Defines all CSS clases for the Menu) */
@import url("menu.css");
@import url("menu_classes.css");

/* Notification CSS File (Help's the user get infomation from closable tool-tips) */
@import url("notifications.css");

/* Form CSS File (This makes forms look as nice as the rest of the ACP) */
@import url("forms.css");

/* Table CSS File (Make's table's and also page navagation nice!) */
@import url("tables.css");